---
import Layout from "layouts/Layout.astro";
import BlogCard from "components/BlogCard.astro";

import { getCollection } from "astro:content";
const { category } = Astro.params;

const posts = await getCollection("blog");

const filteredPosts = posts.filter((post) => {
  return post.data.category.toLowerCase() === category;
});

if (filteredPosts.length === 0) {
  return Astro.redirect("/404");
}
---

<Layout
  title={`Category - ${category?.charAt(0).toUpperCase() + category!.substring(1).toLowerCase()}`}
>
  <section class="md:px-[10rem] px-3 mt-12">
    <h2 class="group text-3xl md:text-5xl font-bold mb-4">
      Category: {
        category?.charAt(0).toUpperCase() + category!.substring(1).toLowerCase()
      }
    </h2>

    <div class="grid md:grid-cols-4 gap-3">
      {filteredPosts.map((post) => <BlogCard post={post} />)}
    </div>
  </section>
</Layout>
