---
import Layout from "layouts/Layout.astro";
import BlogCard from "components/BlogCard.astro";

import { toNormalCase } from "~/utils";

import { getCollection } from "astro:content";
const { category } = Astro.params;

const posts = await getCollection("blog");

const filteredPosts = posts.filter((post) => {
  return post.data.category.toLowerCase() === category;
});

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const categories = [
    ...new Set(posts.map((post) => post.data.category.toLowerCase()).flat()),
  ];

  return Array.from(categories).map((filteredCategory) => {
    // FIltering out the posts
    const filteredPosts = posts.filter(
      (post) => post.data.category.toLowerCase() === filteredCategory
    );

    return {
      params: {
        category: filteredCategory,
      },
      props: {
        posts: filteredPosts,
      },
    };
  });
}

if (filteredPosts.length === 0) {
  return Astro.redirect("/404");
}
---

<Layout title={`Category - ${toNormalCase(category!)}`}>
  <section class="md:px-[10rem] px-3 mt-12">
    <h2 class="group text-3xl md:text-5xl font-bold mb-4">
      Category: {toNormalCase(category!)}
    </h2>

    <div class="grid md:grid-cols-4 gap-3">
      {filteredPosts.map((post) => <BlogCard post={post} />)}
    </div>
  </section>
</Layout>
