---
import Layout from "layouts/Layout.astro";
---

<Layout title="About">
  <section class="hero flex items-center md:min-h-screen min-h-[80vh]">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center">
        <div class="w-full ubuntu lg:w-1/2 px-4 text-xl md:text-2xl">
          <p class="mb-2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Repudiandae accusantium nulla eum doloremque dolorem. Voluptates
            explicabo, ea tempora perferendis unde labore, pariatur ad quod
            repudiandae ullam iste fuga soluta dolorum!
          </p>

          <p class="mt-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem nobis officia eius vitae tempore in optio quibusdam
            consequuntur eos facere itaque deserunt, porro odio iusto? Est ea
            vero quae saepe?
          </p>
        </div>

        <div class="w-full lg:w-1/2 place-content-center grid">
          <img
            src="Myself.jpeg"
            alt="An image of Anindo Neel Dutta"
            class="max-w-xs md:max-w-sm rounded-lg shadow-2xl md:mt-0 mt-10 border-0"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="md:px-[10rem] p-5 md:p-0 md:mb-10">
    <h2 class="group text-3xl md:text-5xl font-bold mb-4">FAQs</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-16">
      <div>
        <h3 class="text-xl first-letter:md:text-2xl font-extrabold mb-2">
          What is this?
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          aliquid amet ducimus facere culpa recusandae, nisi commodi aspernatur
          dolor maiores mollitia incidunt consectetur odit, perferendis
          perspiciatis tempora vitae explicabo inventore.
        </p>
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  .hero-text {
    font-size: 2rem;
  }
</style>
