---
import Layout from "layouts/Layout.astro";
---

<Layout title="About">
  <section class="hero flex items-center md:min-h-screen min-h-[80vh]">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center">
        <div class="w-full ubuntu lg:w-1/2 px-4 text-xl md:text-2xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ex
          dolores sed quaerat deleniti suscipit non nam at amet, eaque
          similique, corrupti quos. Ex, quia! Accusamus eius excepturi dolorem
          tempora! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Autem ex dolores sed quaerat deleniti suscipit non nam at amet, eaque
          similique, corrupti quos. Ex, quia! Accusamus eius excepturi dolorem
          tempora!
        </div>

        <div class="w-full lg:w-1/2 place-content-center grid">
          <img
            src="Myself.jpeg"
            alt="An image of Anindo Neel Dutta"
            class="z-10 max-w-xs md:max-w-sm md:rounded-full rounded-lg shadow-2xl md:mt-0 mt-10 border-0 md:border-t-2 md:border-b-2 border-cyan-500"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  .hero-text {
    font-size: 2rem;
  }
</style>
