---
import Layout from "../layouts/Layout.astro";

import "../assets/styles.scss";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="min-h-screen">
      <h2 class="text-5xl">hi</h2>
    </section>
  </main>
</Layout>
