---
export interface Props {
  title: string;
  description: string;
  image: string;
  badges: string[];
}

const { title, description, image, badges } = Astro.props;
---

<div class="card w-96 bg-teal-950 shadow-xl">
  <figure>
    <img src={image} alt="Shoes" />
  </figure>
  <div class="card-body">
    <h3 class="card-title">{title}</h3>

    <p>{description}</p>

    <div class="card-actions justify-start mt-5">
      {badges.map((badge) => <div class="badge badge-outline">{badge}</div>)}
    </div>
  </div>
</div>
