---
import { Icon } from "astro-icon";

export interface Props {
  link: string;
  icon: string;
}

const { icon, link } = Astro.props;
---

<li>
  <span
    class="w-12 h-12 rounded-full flex items-center justify-center border-transparent shadow-none hover:scale-110 ease-in-out duration-300 hover:bg-teal-900"
  >
    <a href={link} target="_blank">
      <Icon name={icon} class="w-10" />
    </a>
  </span>
</li>
