---
import { Icon } from "astro-icon";
---

<section class="md:px-[10rem] p-5 md:p-0 md:mb-10">
  <h2 class="group text-3xl md:text-5xl font-extrabold mb-4">Job History</h2>

  <ul class="">
    <li class="flex">
      <div>
        <Icon class="w-10 h-10 text-3xl" name="astro" />
      </div>

      <div class="ml-3">
        <p class="text-2xl font-bold text-primary">Norian Games</p>
        <p class="font-bold">April 2019 - September 2022</p>
        <p class="font-bold">Head of Web Design</p>
      </div>
    </li>

    <li class="flex mt-5">
      <div>
        <Icon class="w-10 h-10 text-3xl" name="astro" />
      </div>

      <div class="ml-3">
        <p class="text-2xl font-bold text-primary">Lore Media LLc</p>
        <p class="font-bold">March 2022 - May 2022</p>
        <p class="font-bold">Growth Engineer</p>
      </div>
    </li>
  </ul>
</section>
