---
import Card from "../components/ProjectCard.astro";
import projects from "../data/projects";

import { getCollection } from "astro:content";

const contentProjects = await getCollection("projects");

console.log(contentProjects);
---

<section class="md:px-[10rem] px-3">
  <h2 class="group text-3xl md:text-5xl font-bold mb-4">Projects</h2>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    {contentProjects.map((project) => <Card project={project} />)}
  </div>
</section>
