<section class="md:px-[10rem] p-5 md:p-0 md:mb-10">
  <h2 class="group text-3xl md:text-5xl font-bold mb-4">Services</h2>

  <div class="grid grid-cols-3">
    <div class="card bg-teal-950 p-10 col-span-full lg:col-span-1">
      <h4 class="card-title text-2xl">Promote Your Business</h4>

      <p class="mt-5">Landing Page Design</p>

      <p>
        Starting from <span class="font-bold text-xl">$100</span>/hour
      </p>
    </div>
  </div>
</section>
