<section class="md:px-[10rem] p-5 md:p-0 md:mb-10">
  <h2 class="group text-3xl md:text-5xl font-bold mb-4">Services</h2>

  <div class="grid grid-cols-3 gap-3">
    <div class="card bg-teal-900 p-10 col-span-full lg:col-span-1">
      <h4 class="card-title text-2xl">Promote Your Business</h4>

      <p class="my-5">
        Transform your brand's first impression with captivating landing page
        designs. Engage visitors, drive conversions, and leave a lasting impact
        with aesthetics and user-centric layouts.
      </p>

      <p>
        Starting from <span class="font-bold text-xl">$50</span>/hour
      </p>
    </div>

    <div class="card bg-teal-900 p-10 col-span-full lg:col-span-1">
      <h4 class="card-title text-2xl">Build Your Products</h4>

      <p class="my-5">
        Crafting innovative web solutions. Elevate your online presence with
        responsive design, seamless functionality, and tailored user
        experiences. Empower your business digitally.
      </p>

      <p>
        Starting from <span class="font-bold text-xl">$50</span>/hour
      </p>
    </div>

    <div class="card bg-teal-900 p-10 col-span-full lg:col-span-1">
      <h4 class="card-title text-2xl">Collaborate Wtih Me</h4>

      <p class="my-5">
        Elevate your digital strategy with expert web development consultancy.
        Tailored solutions, technology insights, and a roadmap for online
        success. Let's innovate together.
      </p>

      <p>
        Starting from <span class="font-bold text-xl">$20</span>/hour
      </p>
    </div>
  </div>
</section>
