---
import BaseHead from "components/BaseHead.astro";

import { SITE_TITLE, DESCRIPTION } from "~/config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={DESCRIPTION}
      image="https://and249.codes/images/Myself.jpeg"
    />
  </head>
  <body>
    <div class="bg-gradient-to-b to-[#041e1a] from-[#12312c]">
      <slot />
    </div>
  </body>
</html>
